body{
    background-color: beige;
}
h1{ color: darkred;
    font-size: 55px;
    background-color: burlywood;
    letter-spacing: 20px;
    text-align: center;
    font-variant: initial;
}

h1:hover{ color: darkolivegreen;
}

p{
    font-size: 20px;
    text-decoration: overline;
    color: blueviolet;
    word-spacing: 8px;
    text-align: center;
}

h2{
    /* border: 2px solid; */
    border-top: 5px black solid;
    border-right: 5px red dotted;
    border-bottom: 5px blue solid;
    border-left: 5px red double;

    /* padding */
    /* padding: 50px; */
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 30px;
    padding-left: 15px;

    /* Margin */
    /* margin: 70px; */
    margin-top: 35px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 35px;

}

a{
    text-decoration: none;
    font-size: 20px;
    background-color: #0be23a;
    padding: 10px;
    border-radius: 11px;
    margin-right: 20px;
}

a:hover{
    background-color: aquamarine;
    box-shadow: inset;
    text-decoration: underline;
}