body{background-color: rgb(209, 200, 250);}

#par1{
    color: midnightblue;
    background-color: cyan;
    font-size: 26px;
    padding: 15px;
    text-align: center;
}

#par2{
    background-color: rgb(114, 185, 255);
    color: rgb(213, 255, 241);
    padding: 10px;
    text-align: end;
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: overline;
}

#par3{
    background-color: rgb(110, 215, 250);
    color: blue;
    font-size: 27px;
    text-transform: initial;
    padding: 12px;
    text-decoration: wavy;
}

.myparagraph{
    background-color: rgb(217, 253, 253);
    font-size: 24px;
    color: slategray;
    padding: 12px;
}

.divit{
    background-color: cornflowerblue;
    font-size: 30px;
    color: darkslategray;
    padding: 20px;
    text-align: justify;
    text-decoration: wavy;
    text-decoration-thickness: 4px;
    
}
