#first{
    background-color: black;
    height: 170px;
}

.white{
    background-color: white;
    height: 50px;
}

#second{
    background-color: red;
    height: 170;
}

#third{
    background-color: green;
    height: 170px;
}

#image{
    
}